body {
  display: flex;
  background-color: #a9aad2;
  font-family: "Open Sans";
  margin: 0;
  height: 100vh;
}

header {
  display: flex;
  color: #eaeaf4;
  background-color: #1f1f3c;
  flex-direction: column;
  align-items: center;
  font-family: "Poppins";
  width: 350px;
  height: 100%;
}

div {
  display: flex;
  margin: 0;
  flex-direction: column;
}

input {
  font-size: large;
  background-color: #eaeaf4;
  display: flex;
  border: 5px solid #1f1f3c;
  width: 753px;
  height: 50px;
  font-family: "circular";
}

h1 {
  font-size: 70px;
  margin-top: 4px;
  margin-bottom: 18px;
}

p {
  color: #1f1f3c;
}

button:hover {
  cursor: pointer;
}

.idea-title {
  margin: 10px;
  font-weight: bold;
  font-size: xx-large;
}

.idea-body {
  margin: 10px;
  font-size: x-large;
}

.delete-button {
  background: transparent;
  border: 0px;
}

.fav-button {
  background: transparent;
  border: 0px;
}

.button-field {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.card-header {
  display: flex;
  height: 50px;
  width: 250px;
  align-items: stretch;
}

.card-instance {
  text-align: center;
  background-color: white;
  border: 5px solid rgb(31, 31, 60);
  font-family: "Poppins";
  height: 300px;
  width: 250px;
}

.idea-field {
  height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: left;
  justify-content: space-around;
}

.card-field {
  background-color: #eaeaf4;
  height: 50vh;
  width: 1090px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
  padding: 40px;
}

.save-button {
  color: #eaeaf4;
  border: 0;
  background-color: #1f1f3c;
  width: 767px;
  height: 83px;
  font-family: "Open Sans", sans-serif;
  font-size: 35px;
  font-weight: bold;
}

.save-button:hover {
  color: #1f1f3c;
  border: 5px solid #1f1f3c;
  background-color: #a9aad2;
  width: 767px;
  height: 83px;
  font-family: "Open Sans", sans-serif;
  font-size: 35px;
  font-weight: bold;
}

.labels {
  color: #1f1f3c;
  font-size: 30px;
  display: flex;
  flex-direction: column;
  font-family: "Open Sans", sans-serif;
}

.starred-idea-button {
  background-color: #a9aad2;
  border: 0;
  color: #1f1f3c;
  width: 290px;
  height: 71px;
  font-family: "Open Sans", sans-serif;
  font-size: 28px;
  font-weight: bold;
}

.starred-idea-button:hover {
  background-color: #1f1f3c;
  border: 5px solid #a9aad2;
  color: #a9aad2;
  width: 290px;
  height: 71px;
  font-family: "Open Sans", sans-serif;
  font-size: 28px;
  font-weight: bold;
}

.fav-icon {
  display: block;
  height: 45px;
  width: 45px;
  background-color: transparent;
  background-image: url("assests/FEE-M1_ ideabox redux icons/star.svg");
}

.delete-icon {
  display: block;
  height: 45px;
  width: 45px;
  background-color: transparent;
  background-image: url("assests/FEE-M1_ ideabox redux icons/delete.svg");
}

.fav-icon:hover {
  background-image: url("assests/FEE-M1_ ideabox redux icons/star-active.svg");
}

.delete-icon:hover {
  background-image: url("assests/FEE-M1_ ideabox redux icons/delete-active.svg");
}
